[Unit]
Description=Echo Service

[Service]
ExecStart=/home/isel/tvs/tvs-2324-1/leic53d/10-systemd/02-echod/echod /run/isel/echo-socket
Restart=always
User=isel
Group=isel

